.page {
    min-height: 95vh;
    width: 65vw;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex !important;
}

.grid {
    background-color: rgb(235, 235, 215);
    padding: 50px;
    width: 75vw !important;
}

.background-image {
    background-image: url(./images/mainVisual.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    opacity: 0.75;
}

.button {
    border-radius: 0 !important;
    width: 80% !important;
    margin-bottom: 10px !important;
}